/*
==============================
Filename     : btn_toggle.css
Authored by  : team "Team"
Last Updated : 09 07 17
==============================
Notes :
  Use the HTML onclick() syntax 'javascript:btn_toggle(uniqueIndex, btn_wrapperID, btn_innerID);'
  Each of the button instances must have unique ID's
  * See btn_toggle.js for functional documentation
==============================
*/

.btn_wrapper {
  display:inline-block;
  vertical-align:text-bottom;
  background-color:#ffffff;
  border:1px solid #ccc;
  border-radius:15px;
  height:20px;
  width:40px;
  transition:0.2s;
}

.btn_wrapper:hover {
  cursor:pointer;
}

.btn_inner {
  display:block;
  background-color:#ffffff;
  border:1px solid #ddd;
  border-radius:100%;
  box-shadow:0px 0px 3px 0px #666;
  height:14px;
  width:14px;
  margin:2px 2px 0px 2px;
  float:left;
  transition:0.2s;
  z-index:1;
}

/* Enable this for :hover io behavior
   Default : Enabled
   Set .btn_inner > div display to none to disable
   Font matches the site's global preferences */
.btn_inner > div {
  display:block;
  color:#333;
  font-size:12px;
  text-align:center;
  margin-top:.5px;
  margin-left:.5px;
  opacity:0;
  transition:0.4s;
}

.btn_wrapper:hover > .btn_inner > div {
  opacity:0.3;
  transition:0.4s;
}
