/*
==============================
Filename     : stylesheet.css
Authored by  : team "Team"
Last Updated : 09 07 17
==============================
*/
body {
  font-size:18px;
  font-family:sans-serif;
  color:#666;
}

.wrapper {
  display:grid;
  grid-template-columns:1fr 500px 1fr;
  grid-template-rows:auto;
  grid-template-areas:
    ". date_view date_header"
    ". btn_grouping .";
  height:100%;
  min-height:100%;
  width:100%;
  min-width:100%;
  position:absolute;
  top:0px;
  margin:0;
  padding:0;
}

.date_header {
  display:block;
  position:fixed;
  top:0px;
  right:0px;
  height:200px;
  background-color:rgba(255,255,255,0.5);
  color:#333;
  text-align:right;
  font-size:24px;
  padding:0.6em 0.6em 0 0;
  grid-area:date_header;
}

.date_view {
  display:block;
  height:100%;
  min-height:100%;
  margin:0;
  padding:0;
  background-color:#666;
  grid-area:date_view;
  overflow-y:scroll;
}

.t_block:first-of-type {
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}

.t_block {
  display:block;
  height:50px;
  width:100%;
  margin:0;
  padding:0;
  border-bottom:1px solid #000;
  background-color:rgba(255,255,255,0.5);
  text-align:center;
}

.t_block:hover {
  background-color:#666;
  color:#fff;
  transition:0.4s;
}

.time {
  padding-top:15px;
}

.btn_grouping {
  display:block;
  position:absolute;
  color:#666;
  width:540px;
  grid-area:btn_grouping;
  z-index:1;
}

.btn_grouping > .fa-arrow-circle-o-left {
  float:left;
}

.btn_grouping > .fa-arrow-circle-o-right {
  float:right;
}
