/*
==============================
Filename     : stylesheet.css
Authored by  : team "Team"
Last Updated : 09 12 17
==============================
*/
body {
  font-size:18px;
  font-family:sans-serif;
  color:#333;
}

.wrapper {
  display:grid;
  grid-template-columns:340px 1fr 340px;
  grid-template-rows:auto;
  grid-template-areas:
    ". date_view date_header";
  height:100%;
  min-height:100%;
  width:100%;
  position:absolute;
  top:0px;
  left:0px;
  margin:0;
  padding:0;
}

.date_header {
  display:block;
  position:fixed;
  top:0px;
  right:0px;
  height:200px;
  background-color:rgba(255,255,255,0.5);
  grid-area:date_header;
}

.dayname, .date_text {
  color:#333;
  text-align:right;
  font-size:28px;
  padding:0.6em 0.6em 0 0;
}

.date_text { display:inline-block; }

.date_view {
  display:block;
  height:100%;
  min-height:100%;
  padding:0;
  grid-area:date_view;
}

.t_block:first-of-type {
  border-top:1px solid #000;
  border-bottom:1px solid #000;
}

.t_block {
  cursor:pointer;
  display:block;
  width:100%;
  min-width:300px;
  margin:0;
  padding:0;
  border-bottom:1px solid #000;
  background-color:#ffffff;
  text-align:center;
}

.t_block:hover {
  background-color:lightblue;
  color:#fff;
  transition:0.4s;
}

.time {
  cursor:pointer;
  padding-top:10px;
}

button:hover {
  cursor:pointer;
}

.fa:hover {
  cursor:pointer;
  color:lightblue;
  transition:0.4s;
}

.settings:hover {
  cursor:pointer;
  color:lightblue;
  transition:0.4s;
}

.options_toolbar {
  display:block;
  height:100%;
  min-height:100%;
  width:300px;
  background-color:#ffffff;
  position:fixed;
  padding:0;
  margin:0;
  top:0px;
}

.options_toolbar > div {
  padding:0.5em;
}

.options_toolbar > div:first-child:hover {
  cursor:pointer;
  color:lightblue;
  transition:0.4s;
}

#navbar {
  left:-300px;
  transition:0.4s;
  z-index:2;
}
#navbar > div {
  padding:20px;
}
